.cars-list ul {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
  }
  
  .cars-list ul li {
      padding: auto;
  }
  
  
  .cars-list ul li button {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 10px 20px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
  }
  
  .cars-list ul li button.active,
  .cars-list ul li button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }

  .car-info {
    border: 1px solid rgba(27, 31, 35, 0.15);
    padding: 1rem;
    background: rgba(39, 39, 39, 0.7);
    box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
    border-radius: 10px;
    border-top-left-radius: 0;
  }
  
  .cars-list ul li button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  .cars-list ul li button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  .cars-list ul li button:focus {
    outline: 1px transparent;
  }
  
  .cars-list ul li button:before {
    display: none;
  }
  
  .cars-list ul li button:-webkit-details-marker {
    display: none;
  }